.body {
  background-color: #ffffff;
}

.main1 {
  width: 1600px;
  height: 2349px;
}

/* HEADER */

.hdr {
  width: 1600px;
  height: 80px;
}
.hdr ul li {
  display: inline;
}
.nav-list {
  display: inline;
}

.logo-studio {
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.nav-list {
  color: #212121;
}

.nav-list:hover {
  color: #2196f3;
}

.nav-list:focus {
  color: #2196f3;
}

/* BODY */

/* section 1 */
.section1 {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  margin: auto;
}

.section1-title {
  color: #ffffff;
  margin: auto;
}

.btn {
  border-radius: 4px;
  background-color: #ffffff;
  color: #212121;
}

.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:active {
  background-color: #2196f3;
  color: #ffffff;
}

/* section 2 */
.section2 {
  width: 1170px;
  height: 101px;
  margin: auto;
}
.section2-list li {
  display: inline-block;
  width: 270px;
  height: 101px;
}

.section2-title {
  display: none;
}

.section2-list h3 {
  color: #212121;
}

.section2-list p {
  color: #757575;
}

/* section 3 */
.section3 {
  width: 1170px;
  height: 386px;
  margin: auto;
}
.section3-title {
  color: #212121;
  text-align: center;
}
.section3-list li {
  display: inline;
}

/* section4 */
.section4 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  margin: auto;
}
.section4-title {
  color: #212121;
  text-align: center;
}
.section4-list {
  width: 1170px;
  height: 368px;
  margin: auto;
}
.section4-list li {
  display: inline-block;
  background-color: #ffffff;
  width: 270px;
  height: 368px;
  text-align: center;
}

.section4-list h3 {
  color: #212121;
}

.section4-list p {
  color: #757575;
}

/* footer */
.foot {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.logo-studio-footer {
  color: #ffffff;
}
.foot p {
  color: #ffffff;
}
.foot a {
  color: rgb(255, 255, 255, 0.6);
}
.foot a:hover {
  color: #2196f3;
}
.foot a:focus {
  color: #2196f3;
}

/* PORTFOLIO */

/* SECTION 1 */
.section-filters {
  width: 611px;
  height: 54px;
  background-color: #ffffff;
  margin: auto;
}
.filters-title {
  display: none;
}
.filters-list {
  display: flex;
}
.filters-list button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.filters-list button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.filters-list button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* SECTION 2 */
.section-projects {
  width: 1170px;
  height: 1360px;
  margin: auto;
}
.projects-title {
  display: none;
}
.projects-list li {
  display: inline-block;
}
.projects-list h2 {
  color: #212121;
}
.projects-list p {
  color: #757575;
}
