body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.main1 {
  width: 1600px;
  height: 2349px;
}

/* HEADER */

.hdr {
  width: 1600px;
  height: 80px;
}
.hdr a {
  text-decoration: none;
}
.hdr ul li {
  display: inline;
}
.nav-list {
  display: inline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo-studio {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav-list {
  color: #212121;
}

.nav-list:hover {
  color: #2196f3;
}

.nav-list:focus {
  color: #2196f3;
}

/* BODY */

/* section 1 */
.section1 {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}

.section1-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #212121;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:active {
  background-color: #2196f3;
  color: #ffffff;
}

/* section 2 */
.section2 {
  width: 1170px;
  height: 101px;
  margin: auto;
}
.section2-list li {
  display: inline-block;
  width: 270px;
  height: 101px;
}

.section2-title {
  display: none;
}

.section2-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.section2-list p {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/* section 3 */
.section3 {
  width: 1170px;
  height: 386px;
  margin: auto;
}
.section3-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
.section3-list li {
  display: inline;
}

/* section4 */
.section4 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  margin: auto;
}
.section4-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
.section4-list {
  width: 1170px;
  height: 368px;
  margin: auto;
}
.section4-list li {
  display: inline-block;
  background-color: #ffffff;
  width: 270px;
  height: 368px;
  text-align: center;
}

.section4-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.section4-list p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}

/* footer */
.foot {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.logo-studio-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.adrs {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}
.adrs ul {
  list-style: none;
}
.foot a {
  text-decoration: none;
}
.foot a {
  color: rgb(255, 255, 255, 0.6);
}
.foot a:hover {
  color: #2196f3;
}
.foot a:focus {
  color: #2196f3;
}

/* PORTFOLIO */
.portfolio {
  width: 1170px;
  height: 1360px;
  margin: auto;
}
.portfolio-title {
  display: none;
}
/* FILTERS */

.filters-title {
  display: none;
}
.filters-list {
  width: 611px;
  height: 54px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  list-style: none;
}

.filters-list button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filters-list button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.filters-list button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* PROJECTS */

.projects-title {
  display: none;
}
.projects-list li {
  display: inline-block;
}
.projects-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-list p {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
